@model prueba.Models.Proveedore

@{
    ViewData["Title"] = "Detalles";
}

<h1 style="text-align:center;">Detalles</h1>

<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
